// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬────────────────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │  Y      │   U      │   I      │   O      │   P      │
            &kp Q      &kp W      &kp E      &kp R      &kp T      &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤─────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │  H      │   J      │   K      │   L      │   ETR    │
            &kp A      &kp S       &kp D      &kp F      &kp G      &kp H      &kp J      &lp K      &kp L    &kp RETURN
        //├──────────┼──────────┼──────────┼──────────┼──────────┤─────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │  N      │   M      │  , <     │  . >     │  / ?     │
            &kp Z      &kp X      &kp C      &kp V      &kp B      &kp N      &kp M     &kp COMMA  &kp DOT    &kp SLASH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤─────────┼──────────┼──────────┴──────────┴──────────╯
                                            &kp LALT  &lt 1 SPACE &lt 2 SPACE &kp LCTRL
        //                                 ╰──────────┴────────────────────┴──────────╯
            >;
        };

        layer_1 {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬────────────────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │  Y      │   U      │   I      │   O      │   P      │
            &kp Q      &kp W      &kp E      &kp R      &kp T      &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤─────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │  H      │   J      │   K      │   L      │   ETR    │
            &kp A      &kp S       &kp D      &kp F      &kp G      &kp H      &kp J      &lp K      &kp L    &kp RETURN
        //├──────────┼──────────┼──────────┼──────────┼──────────┤─────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │  N      │   M      │  , <     │  . >     │  / ?     │
            &kp Z      &kp X      &kp C      &kp V      &kp B      &kp N      &kp M     &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤─────────┼──────────┼──────────┴──────────┴──────────╯
                                            &kp LALT  &lt 1 SPACE &lt 2 SPACE &kp LCTRL
        //                                 ╰──────────┴────────────────────┴──────────╯
            >;
        };

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬────────────────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │  Y      │   U      │   I      │   O      │   P      │
            &kp Q      &kp W      &kp E      &kp R      &kp T      &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤─────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │  H      │   J      │   K      │   L      │   ETR    │
            &kp A      &kp S       &kp D      &kp F      &kp G      &kp H      &kp J      &lp K      &kp L    &kp RETURN
        //├──────────┼──────────┼──────────┼──────────┼──────────┤─────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │  N      │   M      │  , <     │  . >     │  / ?     │
            &kp Z      &kp X      &kp C      &kp V      &kp B      &kp N      &kp M     &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤─────────┼──────────┼──────────┴──────────┴──────────╯
                                            &kp LALT  &lt 1 SPACE &lt 2 SPACE &kp LCTRL
        //                                 ╰──────────┴────────────────────┴──────────╯
            >;
        };
    };
};
